<link rel="stylesheet" href="./static/login.css">
<div class="wrapper">
    <form class="login" id="loginForm">
        <p class="title">Log in</p>
        <input type="text" placeholder="Username" autofocus id="username"/>
        <i class="fa fa-user"></i>
        <input type="password" placeholder="Password" id="password"/>
        <i class="fa fa-key"></i>
        <!-- <a href="#">Forgot your password?</a> -->
        <button type="submit">
            <i class="spinner"></i>
            <span class="state">Log in</span>
        </button>
    </form>
    <footer>
    </footer>
</div>
<script src="./static/login.js"></script>